h1 {
    color:red;
    text-decoration:underline;
}
p {
    color: grey;
}

ol a {
    color: green;
    text-decoration: line-through blue;
}

h2, 
h2 b {
font-weight: normal;
text-shadow: 2px  2px 5px yellow;
}

h3 {
    text-decoration: underline dotted brown;
    text-shadow:  0px 3px 5px green;
}

ul li {
    text-decoration: underline;
    color: purple;
}

p b {
    text-decoration: underline;
    color: yellow;
}

p i {
    text-decoration: line-through;
    font-weight: bold;
    color: blue;
}