.my-first-list a {
    display: inline-block;
    padding: 0 0 0 15px;
}

.my-first-list a::before {
    content:"" ;
    display: block;
    width: 5px;
    height: 5px;
    background-color: purple;
    transform: rotate(45deg);
    position: absolute;
    top: 7px;
    left: 3px;
}


.my-first-list a::after {
    content: "";
    display:block;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 2px;
    position: absolute;
    transform: skew(0, 15deg);
    top: 7px;
    right: 3px;
}

.my-second-list a::before {
    content: "";
    display: inline-block;

}